@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<ul>
    @foreach (var movie in Model.Movies)
    {
        <li><a href='/movies/edit/@movie.Id'>@movie.Name</a></li>
    }
</ul>